.section {
    padding: 20px;
    text-align: center;
}

.section-caption {
    color: green;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Combined Container Layout */
.content-service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 5vh;
}

/* Image and Caption Layout */
.image-caption-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.image-caption-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.caption-text {
    max-width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/* Service Sections */
.service-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.service {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service h2 {
    color: rgb(4, 105, 4);
    font-size: 20px;
    margin-bottom: 10px;
   font-weight: bold;
}
.service h3 {
    color: rgb(4, 105, 4);
    font-size: 20px;
    margin-bottom: 10px;
   font-weight: bold;
}

.service ul {
    padding-left: 20px;
}

.service ul li {
    list-style: disc;
    margin-bottom: 8px;
}

/* Book Now Button */
.book-now-button {
    display: inline-block;
    padding: 15px 30px;
    background-color:green;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.3s;
    
    border: 1.5px solid blue;
}

.book-now-button:hover {
    background-color: transparent;
    text-decoration: none;

}

/* Responsive Design */
@media (min-width: 768px) {
    .service-sections {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .service {
        width: 30%;
    }
}
